@{
    ViewData["Title"] = "Confirm email notification";  
}


<div class="text-center">
    <h3>
        A megadott E-mail címre küldtünk egy megerősítő E-mailt.
    </h3>
    <h4>Kérjük, kövesse az utasításokat a regisztráció befejezéséhez.</h4>
</div>