<div class="container jumbotron">
    <div class="col-md-12">
        <h2 class="text-center">Sikeresen regisztrált! :)</h2>
        <p class="text-center"> <b>Most már be lehet jelentkezni</b> </p>
    </div>
</div>